@model IEnumerable<Job>
@{
    ViewData["Title"] = "Index";
}

<!-- job listing start -->
<div class="job-search-listing">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Left")
            <div class="col-lg-8">
                <div class="right-section">
                    <div class="sort-section d-flex">
                        <div class="col-6">
                            <h6 style="font-weight: bold; margin-top: 8px;">Sort By:</h6>
                        </div>
                        <div class="col-6">
                            <select class="form-control">
                                <option value="">newest</option>
                                <option value="">oldest</option>
                            </select>
                        </div>
                    </div>
                    <div class="jobs">
                        @foreach (Job item in Model)
                        {
                            <div class="job">
                                <div class="row">
                                    <div class="col-md-2 col-sm-4">
                                        <div class="company-logo">
                                            <img src="~/img/company-logo/@item.Company.Logo" alt="logo">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-8">
                                        <div class="name">
                                            <h5>
                                                <a asp-controller="Job" asp-action="Detail" asp-route-Id="@item.Id">@item.Name</a>
                                            </h5>
                                        </div>
                                        <div class="add-info">
                                            <div class="row">
                                                <p><i class="fas fa-briefcase"></i>@item.Category.Name</p>
                                                <p><i class="fas fa-map-marker-alt"></i> @item.Location.Name</p>
                                                <p><i class="far fa-clock"></i> Full Time</p>
                                            </div>
                                        </div>
                                        <div class="deadline">
                                            <p>Deadline: @item.Deadline.ToString("MMMM").Substring(0, 3) @item.Deadline.Day, @item.Deadline.Year</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="favorite">
                                                <i class="far fa-heart"></i>
                                            </div>
                                            <div class="apply">
                                                <a asp-controller="Job" asp-action="Detail" asp-route-Id="" class="btn-apply">Apply Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="pagination">
                            <ul>
                                <li>
                                    <a href="">Prev</a>
                                </li>
                                <li>
                                    <a href="" class="actived">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>
                                <li>
                                    <a href="">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job listing end -->